:root {
    --bg-grey: #F5F3F7;
    --white: #FFF;
    --border: ##ABA7AF;
    --black: #1A141F;
    --purple: #9D3FE7;
    --spacer-grey: #D9D1E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg-grey);
}

ul,
li {
    list-style: none;
}

main {
    max-width: 70%;
    margin: 10% auto;
    padding: 30px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 15px 30px 0px hsla(284, 61%, 19%, 0.098);
}


.add-task-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
}

#add-task {
    border: 1px solid #E5E0EB;
    border-radius: 2px;
    padding: 12px;
    flex: 1;
    outline-color: transparent;
    transition: outline-color 300ms ease-in-out;
}

#add-task:focus{
    outline-color: var(--purple);
}

#add-task-btn {
    padding: 12px;
    text-align: center;
    color: var(--white);
    width: 20%;
    border: none;
    border-radius: 2px;
    background-color: var(--purple);
    cursor: pointer;
}

#add-task-btn:hover {
    opacity: 85%;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

main ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: var(--white);
    box-shadow: 0px 8px 16px 0px hsla(284, 61%, 19%, 0.070);
    border-left: 5px solid hsla(284, 48%, 41%, 0.35);
    transition:  border-left 200ms ease-out;
    transition: transform 200ms ease-out;
    will-change: transform;
}

main ul li:hover {
    border-left: 5px solid hsla(284, 48%, 41%, 0.6);
    transform: translateX(2px);
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: var(--white);
    border: 1.8px solid var(--spacer-grey);
    border-radius: 4px;
    box-shadow: 0px 15px 10px 0px #d3c0d61b;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    transition: 0.090s transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--purple);
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}