:root {
    --bg-grey: #F5F3F7;
    --white: #FFF;
    --border: ##ABA7AF;
    --black: #1A141F;
    --purple:#9D3FE7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg-grey);
}

ul,
li {
    list-style: none;
}

main {
    max-width: 70%;
    margin: 10% auto;
    padding: 30px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 15px 30px 0px hsla(284, 61%, 19%, 0.098);
}


.add-task-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
}

#add-task {

    border: 1px solid #E5E0EB;
    border-radius: 2px;
    padding: 12px;
    flex: 1
}

#add-task-btn {
    padding: 12px;
    text-align: center;
    color: var(--white);
    width: 20%;
    border: none;
    border-radius: 2px;
    background-color: var(--purple);
    cursor: pointer;
}
#add-task-btn:hover{
    opacity: 85%;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

main ul li {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: var(--white);
    box-shadow: 0px 8px 16px 0px hsla(284, 61%, 19%, 0.070);
    border-left: 5px solid hsla(284, 48%, 41%, 0.35);

}